@model IQueryable<CarComponent>

@if (Model?.Any() == true)
{
    <section>
        <h2>Комплектующие</h2>
         <ul class="small-image-list">
            @foreach (CarComponent entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Components" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left">
                    </a>
                    <h4>@entity.Name</h4>
                    <p>@entity.Type</p>
                </li>
            }
        </ul>
    </section>
}